button{
    border: 1px solid blue;
    border-radius: 5px;
    background-color: blue;
    color: white;
    transition: all 0.5s ease;
}
button:hover{
    background-color: white;
    color: blue;
}